{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "transform-flow-strip-types"
  ],
  "minified": true,
  "comments": false
}
