# See https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
# for more about ignoring files.

# dependencies
node_modules/

# misc
.git
.nyc_output/
coverage/
*/test/
*.DS_Store
*junit.xml
.flowconfig

# logs
log/
npm-debug.log

# tests
test/
